<table border="1">
    <tr>
        <th>Species</th>
        <th>Description</th>
        <th>Conservation Status</th>
        <th>Actions:</th>
    </tr>
    {{#each animals}}
        <tr>
            <td>{{species_name}}</td>
            <td>{{description}}</td>
            {{#if extinct}}
                <td style="color:red">extinct</td>
                <td>
                    <button>de-extinctify</button>
                </td>
            {{/if}}
            {{#unless extinct}}
                <td>{{conservation_status}}</td>
                <td>
                    <button>conserve</button>
                    <button>exploit</button>
                </td>
            {{/unless}}
        </tr>
    {{/each}}
</table>
